@import "tailwindcss";

/* 1. Define the dark variant so you can still use dark:bg-red-500 if needed */
@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

/* 2. Map Tailwind utilities to your variables */
@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  /* Map your custom colors so you can use bg-primary, text-secondary, etc. */
  --color-primary: var(--color-primary);
  --color-primary-dark: var(--color-primary-dark);
  --color-secondary: var(--color-secondary);
  --color-secondary-light: var(--color-secondary-light);

  /* Fonts */
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-geologica: var(--font-geologica);
  --font-figtree: var(--font-figtree);
}

/* 3. Define the values for Light vs Dark mode */
@layer base {
  /* Default (Light Mode) */
  :root {
    --background: #ffffff;
    --foreground: #171717;

    --color-primary: #263f5c;
    --color-primary-dark: #2d2950;
    --color-secondary: #82a0aa;
    --color-secondary-light: #a3cfcd;
  }

  /* Dark Mode Overrides */
  /* This activates when next-themes adds data-theme="dark" to the <html> tag */
  [data-theme="dark"] {
    --background: #0a0a0a; /* Dark background */
    --foreground: #ededed; /* Light text */

    --color-primary: #08213d;
    --color-primary-dark: #051b34;
    --color-secondary: #256275;
    --color-secondary-light: #82a0aa;
    --color-button-bg: #1f1f1f;
    --color-button-bg-hover: #040929;
    --color-button-text: #fffbf4;
  }
}

/* Base styles */
body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* Typography settings */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-geologica);
}

p {
  font-family: var(--font-figtree);
}

button {
  cursor: pointer;

  padding: 0.75rem 1.5rem;
  border-radius: 0.5rem;
  font-weight: 600;
  transition: all 0.2s ease-in-out;
  :where([data-theme="dark"] &) {
    /* background-color: var(--color-button-bg); */
    color: var(--color-button-text);
    /* border: 1px solid #333333;
    box-shadow: 0 2px 4px rgba(0,0,0, 0.5); */
  }

  /* Hover states */
  &:hover {
    /* Light mode hover */
    scale: 1.02;

    /* Dark mode hover */
    :where([data-theme="dark"] &) {
      background-color: var(--color-button-bg-hover);
      border-color: #0048e3;
    }
  }
}

@keyframes bounce-slow {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

@keyframes shine {
  0% {
    left: -100%;
  }
  100% {
    left: 100%;
  }
}

.animate-bounce-slow {
  animation: bounce-slow 3s ease-in-out infinite;
}

.animate-shine {
  animation: shine 3s ease-in-out infinite;
}
